html {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow: auto !important;
}

body {
  background-color: #f5f6f7;
  color: #333b4f;
}

a {
  text-decoration: none;
}
