service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    // Helpers for users
    function isLogged() { return request.auth != null && request.auth.token.email_verified }
    function isSuperAdmin() { return isLogged() && request.auth.token.admin == 1 }

    // Helpers for files
    function isSizeValid() { return request.resource.size < 50 * 1024 * 1024 } // file is less than 50 MB
  }
}
